<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft Website</title>
    <link rel="stylesheet" href="/style/layout.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
    <header th:fragment="header">
        <nav>
            <div class="logo">
                <img src="/img/logo.svg" alt="Logo">
            </div>
            <ul class="nav-links">
                <li th:classappend="${page == 'home' ? 'active' : ''}"><a href="/">HOME</a></li>
                <li th:classappend="${page == 'shop' ? 'active' : ''}"><a href="/shop">SHOP</a></li>
                <li th:classappend="${page == 'community' ? 'active' : ''}"><a href="/community">COMMUNITY</a></li>
                <li th:classappend="${page == 'support' ? 'active' : ''}"><a href="/support">SUPPORT</a></li>
                <li th:classappend="${page == 'account' ? 'active' : ''}"><a href="/account">ACCOUNT</a></li>
            </ul>
        </nav>
    </header>
    <main th:fragment="content">
        <div th:insert="~{::section}"></div>
    </main>
    <footer th:fragment="footer">
        <div class="footer-content">
            <p>©2024 Minecraft Website</p>
        </div>
    </footer>
</body>

</html>