<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft Website</title>
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="/style/layout.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
    <div th:replace="~{layout/layout :: header}"></div>
    <section>
        <section class="hero">
            <img src="/img/hero.avif" alt="Hero Image">
        </section>
        <section class="discover-games">
            <h2>DISCOVER OUR GAMES</h2>
            <div class="games">
                <div class="game" th:each="product : ${lstProduct}">
                    <div th:if="${#lists.size(product.imageUrl) > 0}">
                        <img th:src="@{${product.imageUrl[0].url}}" alt="mouse-image">
                    </div>
                    <div class="game-contact">
                        <h1 th:text="${product.name}"></h1>
                        <h2 th:text="${product.description}"></h2>
                        <div class="game-category">
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <div th:replace="~{layout/layout :: footer}"></div>
</body>

</html>