html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    font-family: 'Press Start 2P', cursive;
    background-color: #0f0f0f;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
}

.discover-games {
    text-align: center;
    padding: 50px 20px;
}

.games {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.game {
    width: 350px;
    text-align: center;
}

.game img {
    width: 100%;
    height: auto;
    transition: transform 0.5s;
}

.game-content {
    padding: 20px;
}

.game-title {
    height: 60px;
}

.game-content h1 {
    font-size: 1.5em;
    white-space: normal;
    word-wrap: break-word;
}

.game-category p {
    color: grey;
    white-space: normal;
    word-wrap: break-word;
}

.card-description {
    line-height: 1.4;
}

.card-description,
.card-info {
    height: 45px;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    margin: 10px 0 5px;
    font-size: 0.8em;
    color: #b3b3b3;
    text-align: left;
}

.icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: flex-start;
}

.icons i {
    font-size: 24px;
    color: #b3b3b3;
}

.game img:hover {
    transform: scale(1.1);
}